{% extends "player/base.html" %}
{% block title %}
     Accept Invitation
{% endblock %}

{% block content %}
    <div class="well col-md-6">
        <p>User {{invitation.from_user}} invites you to a game.
             He/She included the following messages:</p>
        <blockquote><p>{{invitation.message}}</p></blockquote>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" name="accept" value="ok">Accept</button>
            <button type="submit" name="Deny" value="ok">Deny</button>
        </form>

    </div>

{% endblock %}